version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      # - db # Uncomment if using postgres locally

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  # db:
  #   image: postgres:13
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   environment:
  #     - POSTGRES_DB=biomarker_db
  #     - POSTGRES_USER=biomarker_user
  #     - POSTGRES_PASSWORD=biomarker_pass

# volumes:
#   postgres_data:
